.new-word {
  background-color: gold;
  border: 2px solid gold;
  border-radius: 25px;
}

.clicked {
  background-color: red;
  border: 2px solid red;
  border-radius: 25px;
}

.center {
  margin: auto;
  width: 60%;
  text-align: center;
}

.buttons {
  margin-top: 100px;
  display: none;
}
